.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  html,
  body {
    background-color: #333;
    color: #fafafa;
  }
  
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
    display: flex;
    align-items: center;
    gap: 0.2em;
  }

  h2 > p {
    font-size: 1em;
    margin: 0;
  }

  p,
  input,
  button {
    font-size: 2em;
  }
  
  button {
    background: lightsalmon;
    padding: 0.5em;
  }
  
  .user-input {
    display: flex;
  }

  .user-actions {
    display: flex;
    gap: 1em;
  }
  
  @media screen and (max-width: 500px) {
    .App {
      font-size: 18px;
      margin: 10px;
    }
    
    h1 {
      font-size: 2em;
    }
  
    h2 {
      font-size: 1.5em;
      gap: 0.1em;
    }
  
    h2 > p {
      font-size: 1em;
      margin: 0;
    }
  
    p,
    input,
    button {
      font-size: 1.5em;
    }
    
    button {
      background: lightsalmon;
      padding: 0.2em 1em;
    }
    
    .user-input {
      flex-direction: column;
    }
  
    .user-actions {
      gap: 0.5em;
    }
  }
