.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  html,
  body {
    background-color: #333;
    color: #fafafa;
  }
  
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
    display: flex;
    align-items: center;
    gap: 0.2em;
  }

  h2 > p {
    font-size: 1em;
    margin: 0;
  }

  p,
  input,
  button {
    font-size: 2em;
  }
  
  button {
    background: lightsalmon;
    padding: 0.5em;
  }
  
  .user-input {
    display: flex;
  }

  .user-actions {
    display: flex;
    gap: 1em;
  }
  
  @media screen and (max-width: 375px) {
    .App {
      font-size: 18px; /* Adjust font size as needed */
      margin: 10px; /* Adjust margins as needed */
    }
    
    h1 {
      font-size: 2em; /* Adjust font size */
    }
  
    h2 {
      font-size: 1.5em; /* Adjust font size */
      justify-content: center; /* Center align text */
      gap: 0.1em; /* Reduce the gap between elements */
    }
  
    h2 > p {
      font-size: 1em; /* Adjust font size */
      margin: 0; /* Remove margins */
    }
  
    p,
    input,
    button {
      font-size: 1.5em; /* Adjust font size */
    }
    
    button {
      background: lightsalmon;
      padding: 0.2em 1em; /* Adjust button padding */
    }
    
    .user-input {
      flex-direction: column; /* Adjust layout to stack elements */
    }
  
    .user-actions {
      gap: 0.5em; /* Reduce the gap between elements */
    }
  }
